<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    
    <add name="EcommerceDataBaseConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\EcommerceDataBase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />


  </connectionStrings>

  <system.web>
    <pages enableEventValidation="false"/>

    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  
</configuration>